* {
    margin:0;
    padding: 0;
}
.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "grid-item1 grid-item1"
    "grid-item2 grid-item3"
    "grid-item4 grid-item4"
    "grid-item5 grid-item5";
}
.grid-item1{
    grid-area: grid-item1;
}
.grid-item2{
    grid-area: grid-item2;
}
.grid-item3{
    grid-area: grid-item3;
}
.grid-item4{
    grid-area: grid-item4;
}
.grid-item5{
    grid-area: grid-item5;
}
header {
    width: 100%;
    background-color: rgb(29, 202, 29);
    height: 150px;
    grid-area: grid-item1;
}

header nav {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    background-color: rgb(29, 202, 29);;
    margin-top: -110px;
}

.iconoempresa{
    height:98%;
    border: black solid 1px;
}

.menu_bar {
    display:none;
    float: right;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: rgb(25, 139, 25); 
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
p {
    font-size: 20px;
    margin-bottom: 20px;
}
/*.info {
    border: black solid 2px;
    display: flex;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}*/

.empresa {
    background-color: grey;
    width: 96%;
    margin: 5px;
    padding: 5px;
    border: black 2px solid;
    text-align: center;
    grid-area:grid-item2;
}

.postventa {
    background-color: grey;
    width: 96%;
    margin: 5px;
    padding: 5px;
    border: black 2px solid;
    text-align: center;
    grid-area:grid-item3;
}

.desplegable{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.pie {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    height: 100px;
}
.pie img {
    height: 220px;
    width: 220px;
}

.foto{
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px 5px gray;
    margin: 10px;
}

h3{
    text-align: center;
}

.imagenes{
    display: flex;
    list-style: none;
}

.datos{
    display: flex;
}

.masdatos{
    margin-left: 30px;
}

.imagenmaquina{
    height: 310px;
    width: 350px;
    margin: 5px;
    box-shadow: 10px 10px 5px gray;
}

.titulomaquinas {
    text-align: center;
    display:block;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 1px solid black;
    height: 100%;
}

.tablavalores {
    display: block;
}

.table, td, tr {
    border: solid black 1px;
    width: 10%;
    text-align: center;
}

.trtitulos {
    background-color:rgb(29, 202, 29) ;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 30px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px;
    border: black solid 1px; 
  }

  button{
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 10px;    
    background-color:rgb(29, 202, 29); 
    border-color: rgb(29, 202, 29); 
    border-style: solid; 
    width: 420px;   
    cursor: pointer;
  }
    
  button p{
    text-align:center;
    color: #fff; 
  }

  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 2px; 
    border-color: rgb(29, 202, 29); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 2px; 
    border-color: rgb(29, 202, 29); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }







@media screen and (max-width: 700px) {
    .container{
        grid-template-areas: 
        "grid-item1 grid-item1"
        "grid-item2 grid-item2"
        "grid-item3 grid-item3"
        "grid-item4 grid-item4"
        "grid-item5 grid-item5";
    }
    header nav {
        width: 80%;
        height: 100%;
        visibility:hidden;
        margin: 0;
        position: fixed;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom:1px solid white;
    }

    /*.menu_bar {
        display: block;
        width: 100%;
        background: gray;
        visibility:hidden;
    }*/

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background-color:rgb(29, 202, 29);;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;
    }

    .menu_bar span {
        float: right;
    }

    .pie {
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        float: left;
        height: 200px;
    }
    .pie img {
        height: 220px;
        width: 200px;
    }

    .botom{
        margin-left:15% ;
    }
    .desplegable{
        display: block;
        list-style-type: none;
        justify-content: center;
    }
    .foto{
        margin-left:100px ;
    }
    .imagenes{
        list-style: none;
        display: block;
        margin-left: 30px;
    }
}